@import "../../mixins.scss";
.navbar {
  background-color: var(--yellow-theme-nav-background-color);
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.2rem;
  position: sticky;
  &__container {
    display: flex;
    align-items: center;
    height: inherit;
    padding: 0 20px;
    &__logo {
      color: var(--yellow-theme-main-color);
      cursor: pointer;
    }
    &__menu {
      display: none;
      @include md {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: auto;
      }
      &__item {
        line-height: 40px;
        font-size: 1.6rem;
        margin-right: 1.5rem;
        &::after {
          content: "";
          display: block;
          height: 3px;
          width: 0;
          background: transparent;
          transition: all 0.5s ease;
        }
        &:hover::after {
          width: 100%;
          background: var(--yellow-theme-main-color);
        }
        &__links {
          color: var(--yellow-theme-main-color);
          text-decoration: none;
          padding: 0.5rem;
          cursor: pointer;
        }
      }
    }
  }
}
.overlay__container__menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: 1px solid #fff;
  position: absolute;
  top: 80px;
  left: -110%;
  opacity: 1;
  width: 100%;
  transition: all 0.5s ease;
  z-index: 800;
  &.active {
    background: #181818;
    left: 0;
    opacity: 1;
  }
  &__item {
    white-space: nowrap;
    border-bottom: 1px solid #282828;
    margin: 0px;
    padding: 20px 43vw;
    line-height: 40px;
    font-size: 1.6rem;
    text-align: center;

    &::after {
      content: "";
      display: block;
      height: 3px;
      width: 0;
      background: transparent;
      transition: all 0.5s ease;
    }
    &:hover::after {
      width: 100%;
      background: var(--yellow-theme-main-color);
    }
    &__links {
      color: var(--yellow-theme-main-color);
      text-decoration: none;
      padding: 0.5rem;
      cursor: pointer;
    }
  }
}
.nav-icon {
  display: flex;
  cursor: pointer;
  color: var(--yellow-theme-main-color);
  padding-right: 20px;
  @include md {
    display: none;
  }
}
